.loader-container {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  z-index: 4;

  .wheel {
    width: 25px;
    height: 25px;
    margin: auto;
    border: 3px solid $color-blue;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 950ms infinite linear;
  }
}

@keyframes spin {
	100%{ transform: rotate(360deg); }
}
