.orders-wrapper {
  
  h3 {
    font-weight: 700;
    color: $color-dark-gray;
    font-size: 21px;
    line-height: 27px;
  }

.orders-container {
  height: 500px;    
  width: 90% !important;    
  border: 1px solid $color-light-gray;    
  background-color: $color-white;
  display: flex;
  flex-direction: row;

  .date-wrapper {
    flex: 0 0 280px;
    border-right: 1px solid $color-light-gray;
    padding: 10px;

    h3 {
      text-align: center;
      color: $color-medium-gray;
    }

    ul {
      margin-top: 20%;
    }

    li {
      text-decoration: none;
      list-style-type: none;
      padding: 20px 0 20px 90px;

      a {
        color: $color-medium-gray;
        &:hover {
          border: solid 1px $color-blue;
        }
      }
    }
  }

  .menu-wrapper {
    flex: 1 1 auto;
    padding: 10px;
    overflow: hidden;
    margin-left: 35px;
  }
 }
}
.menus-container {
  .cta {
    display: flex;
    padding-top: 40px;
  }
  .float-left {
    flex: 1 1 auto;
  }
  .float-right {
    flex: 0 0 40px;
    display: flex;
  }
  .btn {
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    height: 41px;
    width: 154px;
    border-radius: 2px;
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
  }
  .submit-order {
    color: $color-white;
    background-color: $color-blue;
  }

  .reset-order {
    color: $color-medium-gray;
    &:hover {
      color: $color-blue;
    } 
  }

  .main-meal {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    h3 {
      color: $color-medium-gray;
      font-weight: normal;
      font-size: 16px;
    }
    ul {
      display: flex;
      padding: 0;
      margin: 0;
      overflow-x: auto;
      overflow-y: hidden;
    }
    li {
      margin-right: 15px;
      border: 1px solid $color-light-gray;
      list-style-type: none;
      height: 62px;
      min-width: 242px;
      display: flex;
      align-items: center;
     
      .image {
        flex: 0 0 60px;
        height: 60px;
        border-right: solid 1px $color-light-gray;
        img {
          width: 60px;
          height: 60px;
        }
      }
      .meal-name {
        flex: 1 1 auto;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
      }
      .menu-checkbox {
        height: 60px;
        flex: 0 0 50px;
        padding: 20px;
        position: relative;

        label {
          background-color: #fff;
          border: 1px solid #ccc;
          border-radius: 50%;
          height: 22px;
          width: 22px;
          left: 20px;
          position: absolute;
          cursor: pointer;
        }
        
         label:after {
          content: "";
          border: 2px solid #fff;
          border-top: none;
          border-right: none;
          height: 6px;
          left: 3px;
          opacity: 0;
          position: absolute;
          top: 4px;
          transform: rotate(-45deg);
          width: 12px;
        }
        
         input[type="radio"] {
          visibility: hidden;
        }
        
         input[type="radio"]:checked + label {
          background-color: $color-blue;
          border-color: $color-blue;
        }
        
         input[type="radio"]:checked + label:after {
          opacity: 1;
        }
      }
    }
  }

.selected {
  box-shadow: 3px 2px 5px #ececec;
  color: $color-blue;
 }
}

.dates {
  display: flex;
  
  a {
    flex: 1 1 auto;
    padding-top: 10px;
    border: none;
    transition: border-width 0.2s ease-in;

    &:active {
      margin-left: -20px;
      position: absolute;
      height: 33px;
      width: 175px;
      padding-top: 6px;
      text-align: center;
      color: $color-blue !important;
      border: 1px solid $color-blue;
      border-radius: 16.5px;
      background-color: $color-white; 
    }

      &:hover {
        margin-left: -20px;
        position: absolute;
        height: 33px;
        width: 175px;
        padding-top: 6px;
        text-align: center;
        color: $color-blue !important;
        border: 1px solid $color-blue;
        border-radius: 16.5px;
        background-color: $color-white; 
      }
      &.active {
        margin-left: -20px;
        position: absolute;
        height: 33px;
        width: 175px;
        padding-top: 6px;
        text-align: center;
        color: $color-blue !important;
        border: 1px solid $color-blue;
        border-radius: 16.5px;
        background-color: $color-white; 
      }
  }
  .border-circle {
    height: 34px;
    width: 34px;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    margin-right: -26px;
    background-color: $color-white;
  }
}
