.start-date {
  margin-left: 17px;
}

.end-date {
  margin-right: 80px;
}

.engagement-button {
  flex: 0 0 auto;
  box-sizing: border-box;	
  height: 39px;	
  width: auto;	
  border: 1px solid $color-blue;	
  border-radius: 2px;	
  background-color: $color-blue;
  color: $color-white;	
  font-family: "DINPro";	
  font-size: 18px;	
  line-height: 18px;
}

.edit-color {
  color: $color-yellow;
  font-family: "DINPro";
  cursor: pointer;

  &:hover {
    text-decoration: underline solid $color-yellow;
  }
}

.delete-color {
  color: $color-red;
  font-family: "DINPro";
  cursor: pointer;

  &:hover {
    text-decoration: underline solid $color-red;
  }
}

.edit-spacing {
  margin-right: 20px;
}


