#admin-menus {
  display: block;
  overflow: hidden;

  header {
    all: unset;

    div {
      display: block;
      overflow: hidden;
      width: 96.3%;
      margin: 0 0 px-to-rem(30px) 1.7%;

      .title {
        @include title-text(
          px-to-rem(6px) 0 0
        );
      }

      button {
        @include buttons(
          $color-white,
          $color-blue,
          px-to-rem(7px) px-to-rem(18px),
          px-to-rem(17px),
          1px solid $color-blue
        );

        font-family: 'Open Sans', $font-family-pro;
        font-weight: 300;
      }
    }
  }

  main {
    .custom-table {
      width: 96.1%;
      margin-left: 1.9%;

      .ct-header {
        width: 95%;
        margin: 0 auto;
      }

      .ct-body {
        .ct-row {
          .ct-wrap {
            width: 95%;
            margin: 0 auto;

            &:last-child {
              a {
                &:last-child {
                  margin-left: 30px;
                }

                span {
                  display: inline-block;
                  color: $color-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
