#admin-menus {
  display: block;
  overflow: hidden;
  
  .no-content {
    margin-top: 50px;
  }

  header {
    all: unset;

    .menu-header-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow: hidden;
      width: 96.3%;
      margin: 0 0 px-to-rem(5px) 1.7%;

      .button {
        @include buttons(
          $color-white,
          $color-blue,
          px-to-rem(7px) px-to-rem(18px),
          px-to-rem(17px),
          1px solid $color-blue
        );

        font-family: 'Open Sans', $font-family-pro;
        font-weight: 300;
        height: 36px !important;
      }

      .title-date-range {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        .title, .date-range, {
          @include title-text(
            px-to-rem(6px) 0 0
          );
        }

        .date-range, #view-menu {
          margin-left: 10px;
          margin-right: 10px;
        }

        .date-input {
          display: flex;
          flex-direction: row;
          width: 50%;
          height: 50px;
          input {
            @include field-input();
            padding: 8px !important;
          }
        }

      }
    }
  }

  main {
    .empty-content {
      width: 96.3%;
      margin-top: 10%;
    }

    .custom-table {
      width: 96.1%;
      margin-left: 1.9%;

      .ct-header {
        width: 95%;
        margin: 0 auto;
      }

      .ct-body {
        .ct-row {
          .ct-wrap {
            width: 95%;
            margin: 0 auto;
            
            .side-pick-count {
              display: block;
              width: 20px;
              height: 20px;
              float: left;
              background: $color-blue;
              color: white;
              border-radius: 50%;
              font-size: 13px;
              overflow: hidden;
              text-align: center;
              padding-top: 1px;
              margin-right: 10px;
            }

            &:last-child {
              a {
                &:last-child {
                  margin-left: 30px;
                }

                span {
                  display: inline-block;
                  color: $color-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Menu Modal */
#menu-modal {
  .modal-header {
    .close-icon {
      margin-top: 5px;
    }
  }

  .modal-content{
    width: 95%;
    max-width: px-to-rem(550px);
    top: 14%;

    .form-field-double {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      margin-top: 10px;
      justify-content: space-between;

        .select-width {
          width: 45%;
          
          label {
            @include field-label();
            font-size: 16px;
            color: #333E44;
            margin-top: 2px;

            span {
              display: inline-block;
              color: red;
              font-size: 12px;
            }
          }
        }
      }

      .date-input {
        input {
          @include field-input();
          padding: 8px !important;
        }
      }

      .form-field-single {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 10px;
        justify-content: space-between;

          label {
            @include field-label();
            font-size: 16px;
            color: #333E44;
            margin-top: 2px;
  
            span {
              display: inline-block;
              color: red;
              font-size: 12px;
            }
          }
        }
  }

  @media only screen and (max-width: 640px) {
    .modal-content {
      width: 60%;
    }
  }
  
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .modal-content {
      width: 50%;
    }
  }
}

#delete-menu-modal {
  .modal-content{
    width: 95%;
    max-width: px-to-rem(420px);
  }
}
