@font-face {
    font-family: 'DINPro';
    font-style: normal;
    font-weight: normal;
    src:
      local('DINPro-Regular'),
      local('DINPro-Regular'),
      url('../fonts/DINPro-Regular.otf') format('opentype');
  }