$color-white: #ffffff;
$color-blue: #365edc;
$color-yellow: #ffaf30;
$color-black:#000000;
$color-ghostwhite:#F4F8F9;
$color-dark-gray: #333E44;
$color-medium-gray: #6D6D6D;
$color-gray: #DCDCDC;
$color-light-gray: #ECECEC;
$color-medium-gray: #999999;
$color-light-grey: #DCDCDC;
$color-green: #51A803;

$font-family-regular: "DINPro-Regular";
