

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  position: relative;
  background-color: $color-white;
  top: 25%;
  width: 70%;
  border: none;
  padding: 40px;
  margin: auto;
  border-radius: 5px;
}
.modal-header {
  display: flex;
  flex-direction: column;
  .header-title{
    height: 28px;	
    color: $color-blue;	
    font-family: DINPro, sans-serif;
    font-size: 22px;	
    font-weight: 500;	
    line-height: 28px;
    margin-bottom: 30px;
  }
  .header-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    .order-date {
      margin-left: 5px;
    }
  }
  .label {
    color: $color-dark-gray;
  }
  .order-details {
    margin-bottom: 15px;
  }
 
}

/* Modal Body */
.modal-body {
  padding: 2px 35px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  color: white;
}
