.card-container {
  max-height: 320px;
  border-radius: 2px;
  background-color: $color-white;
  margin: 32px 20px;
  border: 1px solid $color-light-grey;

  @media (min-width: $small_screen) {
    min-width: 40%;	
  }

  @media (min-width: $large_screen) {
    min-width: 28%;
  }

  &:hover {
    box-shadow: 3px 3px 5px $color-light-grey;
  }

  .card-image {
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .order-id {
      height: 28px;	
      width: 80px;	
      border-radius: 17px;
      position: relative;
      padding: 5px 15px;
      top: 135px;
      margin: 0px;
      margin-right: 20px;
      margin-left: auto;
      color: $color-white;	
      font-size: 14px;	
      font-weight: 500;	
      line-height: 18px;

      &.not-collected {
        background-color: $color-yellow;
      }

      &.collected {
        background-color: $color-green;
      }
    }
  }

  .card-details {
    margin: 16px 15px;

    .main{
      border-bottom: 1px solid $color-light-grey;
    }

    .heading {
      height: 23px;	
      color: $color-dark-gray;	
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 15px;
    }

    .sub-head {
      color: $color-medium-gray;
      font-size: 16px;
      line-height: 15px;
    }

    span {
      margin-right: 5px;
      color: $color-light-grey;
    }
  }
}

.card-action {
  display: flex;
  justify-content: space-between;

  .sub-head {
    font-size: 12px !important;
    margin-bottom: 0px;
  }

  &.not-collected {
    .heading {
      color: $color-yellow;
    }
  }

  &.collected {
    .heading{
      color: $color-green;
    }
  }

  &.cancelled {
    .heading{
      color: $color-red;
    }
  }

  .button {
    border-radius: 2px;
    padding: 6px 15px;
    margin-right: 9px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    background-color: $color-red;
    color: $color-white;
    border: 1px solid $color-red;

    &:hover {
      color: $color-red;
      background: $color-white;
    }
  }

  .rate-button {
    background-color: $color-yellow;
    color: $color-white;
    border: 1px solid $color-yellow;

    &:hover {
      color: $color-yellow;
      background: $color-white;
    }
  }
}

.delete-button {
  background-color: $color-red;
  color: $color-white;
  border: 1px solid $color-red;

  &:hover {
    color: $color-red;
    background: $color-white;
  }
}
