

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */

.modal-content {
  position: relative;
  background-color: $color-white;
  top: 25%;
  width: 70%;
  border: none;
  padding: 40px;
  margin: auto;
}
.modal-header {
  display: flex;
  flex-direction: column;
  .header-title{
    height: 28px;	
    color: $color-blue;	
    font-family: DINPro, sans-serif;
    font-size: 22px;	
    font-weight: 500;	
    line-height: 28px;
    margin-bottom: 30px;
  }
  .header-date {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    .order-date {
      margin-left: 5px;
    }
  }
  .label {
    color: $color-dark-gray;
  }
  .order-details {
    margin-bottom: 15px;
  }
 
}

/* Modal Body */
.modal-body {
  padding: 2px 35px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  color: white;

  .btn-delete {
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    height: 41px;
    width: 154px;
    border-radius: 2px;
    background-color:transparent;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    cursor: pointer;
  }
  .cta {
    display: flex;
    padding-top: 40px;
  }
  .float-left {
    flex: 1 1 auto;
  }
  .float-right {
    flex: 0 0 40px;
    display: flex;
  }
  .close-modal {
    color: $color-medium-gray;
    &:hover {
      color: $color-blue;
    } 
  }

  .delete-order {
    color: $color-white;
    background-color: $color-blue;
  }
}
