.order-history {
  button {
    outline: none;
  }
  
  .title {
    font-weight: 700;
    padding: 0px 50px 0px 25px;
    color: $color-dark-gray;	
    font-size: 21px;
    line-height: 27px;
    display: flex;

    span:nth-child(2) {
      color: $color-blue;
    }

    .filter {
      margin-left: auto;
      position: relative;

      .button {
        height: 37px;	
        width: 107px;	
        border: 1px solid $color-blue;
        border-radius: 2px;	
        background-color: $color-white;
        color: $color-blue;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;

        &.active {
          background-color: $color-blue;
          color: $color-white;
        }
      }

      .dropdown{
        display: none;
        position: absolute;
        padding: 20px;
        margin: 5px auto;
        right: 0px;
        border-radius: 3px;	
        background-color: $color-white;	
        box-shadow: 0 2px 10px 0 $color-dark-gray;
        z-index: 5;

        &.active {
          display: block;
        }

        .input {
          height: 36px;
          width: 160px;
          border: 1px solid $color-light-grey;
          border-radius: 1px;
          background-color: $color-white;
          padding: 0px 10px;

          &::placeholder {
            color: $color-light-grey;
            font-size: 14px;
          }

          &.btn {
            background-color: $color-blue;
            color: $color-white;
            margin-bottom: 5px;
            cursor: pointer;
          }
        }

        .date-label {
          display: block;
          margin: 15px 0px;
          color: $color-dark-gray;	
          font-size: 14px;
        }

        .actions {
          display: flex;
          color: $color-blue;	
          font-size: 14px;
          line-height: 18px;

          .action-item {
            cursor: pointer;
            &:last-child {
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .rc-pagination {
    padding: 0px 0px 0px 40px;

    .rc-pagination-item {
      outline: none;
    }
    
    .rc-pagination-item-active {
      background-color: $color-blue;
      border-color: $color-blue; 
    }
  }

  .network-error {
    color: $color-red;
    padding: 0px 25px;
    font-weight: bold;
  }
}

.react-date-picker__button {
  height: 36px;
  width: 160px;
  border: 1px solid $color-light-grey;
  border-radius: 1px;
  background-color: $color-white;

  .react-date-picker__button__input__input {
    width: 15px !important;
    margin: 0px auto;

    &.react-date-picker__button__input__year{
      width: 30px !important;
    }
  }
}

.react-date-picker__calendar {
  left: auto;
  right: 0px;
  top: 0px;
}
