.rating-modal-content {
  position: relative;
  background-color: $color-white;
  top: 25%;
  width: 45%;
  border: none;

  margin: auto;
  border-radius: 5px;
}

.rating-modal-wrapper {
  padding: 40px;
}

.rating-modal-header {
  display: flex;
  justify-content: space-between;
  .header-title{
    height: 28px;
    color: $color-blue;
    font-family: DINPro, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 30px;
  }

}

.selected-food-wrapper {
  display: flex;
  height: auto;
  flex-direction: column;
  .selected-foods {
    display: flex;
    margin-bottom: 30px;

    .food-item {
      display: flex;
      width: 270px;
      border: solid 1px $color-light-gray;
      border-radius: 5px;
      .food-img {
        flex: 0 0 70px;
        height: 70px;
        background-color: antiquewhite;
        img {
            width: 70px;
            height: 70px;
        }
      }
      .food-rating-star {
        flex: 1 1 auto;
        align-self: center;
        padding-left: 10px;
        .text {
          color: $color-dark-gray;
          font-weight: 600;
        }
        span {
          margin-right: 5px;
        }
      }
      .food-rating-spacer {
        flex: 0 0 70px;
      }
    }
  }
}

.average-rating {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 36%;
  .text {
    font-size: 13px;
    color: $color-medium-gray;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  span {
    margin-right: 10px;
  }
}

.comment-area {
  .text {
    color: $color-medium-gray;
    padding-bottom: 5px;
  }
  .comment-textarea {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border-color: $color-light-gray;
    font-size: 18px;
  }
}

.modal-footer {
  .submit-comment {
     flex: 0 0 auto;
      box-sizing: border-box;
      height: 39px;
      width: 131px;
      border: 1px solid #3359DF;
      border-radius: 2px;
      background-color: #FFFFFF;
      color: #3359DF;
      font-family: "DINPro";
      font-size: 16px;
      line-height: 18px;
      margin-top: 20px;
  }
}

.right-spacer {
  margin-right: 30px;
}
.comment-count {
  font-size: 13px;
  color: $color-blue;
}
.rating-modal-comment-area {
  background-color: $color-light-gray;
  padding: 30px;
  height: 150px;
}
.user-comment-area {
  display: flex;

  img {
    border-radius: 50%;
    border: 2px $color-dark-gray;
    height: 40px;
    width: 40px;
    background-color: $color-dark-gray;
  }
  .user-comment {
    margin-left: 20px;

    .user-comment-header {
      font-size: 16px;
      text-transform: capitalize;
      font-weight: 600;
      padding-bottom: 10px;
      color: $color-dark-gray;
    }
    .user-comment-text {
      color: $color-medium-gray;
    }
  }
}

.modal-adj {
  padding-top: 15px !important;
}