_tabs.scss

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 40;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  margin-right: 3rem;
  padding-right: 5rem;
  cursor: pointer;
}

.tab-list-active {
  color: rgb(51, 51, 51);
  background: rgb(255, 255, 255);
  border-width: 2px 1px 0px;
  border-style: solid solid;
  border-color: rgb(221, 221, 221) rgb(221, 221, 221);
  border-image: initial;
  border-top: 2px solid rgb(52, 152, 219);
  border-bottom: 0px;
}
