
* {
  box-sizing: border-box;
}

html, body, #app, .main-wrapper, .wrapper {
  height: 100%;
}

body {
  background:$color-ghostwhite;
  margin: 0;
  color: #000000;
  font-family: DINPro, sans-serif;
}

.logo-name-global {
  font-size: 20px;
  font-weight: 500;
  color: $color-blue;
  padding-left: 38px;
}

.logo-img img {
  height: 50px;
  width: 50px;
}

.logo-wrapper {
  display: flex;
  flex: 0 0 25%;
  align-items: center;
}
