@import './variables';
@import './globals';

@import './components/order';
@import './components/login';
@import './components/navbar';
@import './components/sidenav';
@import './components/mealcard';
@import './components/orderhistory';
@import './components/modal';
@import './components/loader';
